{% for vrf in RT_DIFF %}
vrf definition {{ vrf.name }}
 rd {{ vrf.rd }}
 description {{ vrf.description }}
{%  for rt in vrf.add_rte %}
 route-target export {{ rt }}
{%  endfor %}
{%  for rt in vrf.add_rti %}
 route-target import {{ rt }}
{%  endfor %}
{%  for rt in vrf.del_rte %}
 no route-target export {{ rt }}
{%  endfor %}
{%  for rt in vrf.del_rti %}
 no route-target import {{ rt }}
{%  endfor %}
 address-family ipv4
 address-family ipv6
{% endfor %}
router bgp 65000
 no bgp default ipv4-unicast
{% for vrf in vrfs %}
 address-family ipv4 vrf {{ vrf.name }}
  redistribute connected
{% endfor %}
